

<div class="col-xs-offset-1 col-xs-11">
<h1 class="index-title"> Restaurants </h1>
</div>
<br>

<% @restaurants.each do |rest| %>
  <div class="container">
    <div class="row restaurant-row">
      <div class="col-xs-4 col-md-2 image">
        <img src='<%= rest.image %>'/>
      </div>
      <div class="col-xs-5 col-md-4">
        <h4><%= rest.name %></h4>
        <p><%= rest.address %></p>
        <p><em><%=rest.style %></em></p>
      </div>
      <div class="col-xs-4 notes">
        <p><strong>Notes:</strong></p>
      </div>
      <div>
        <%= link_to "Delete", restaurant_path(rest), method: :delete, class: 'btn btn-default pull-right new-btn' %>
      </div>
    </div>
    <hr>
  </div>

<% end %>
