
<section class="rest-section">
</section>
<div class='container'>
  <div class='row'>
    <div class='col-xs-6'>
    <h1 class='index-title'> Restaurants </h1>
  </div>
    <div class='col-xs-6'>
      <%= form_tag(restaurants_path, :method => "get", id: "search-form", class: "navbar-form navbar-right") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants", class: "form-control" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-default search" %>
        <%= link_to 'View All', restaurants_path, class: 'btn btn-default'%>
      <% end %>
    </div>
  </div>
  <hr>

  <% @restaurants.each do |rest| %>
      <div class='row restaurant-row'>
        <div class='col-xs-4 col-md-2 image'>
          <img src='<%= rest.image %>'/>
        </div>
        <div class='col-xs-5 col-md-4'>
          <h4 class='rest-name'><%= rest.name %></h4>
          <p class='rest-address'><%= rest.address %></p>
          <p class='rest-style'><em><%=rest.style %></em></p>
          <p class='rating'>Rating: <%=rest.rating %></p>
        </div>
        <div class='col-xs-4 notes'>
          <p><strong>Notes:</strong></p>
        </div>
        <div>
          <%= link_to '', restaurant_path(rest), method: :delete, class: 'btn btn-default pull-right delete-btn glyphicon glyphicon-trash' %>
        </div>
      </div>
      <hr>
  <% end %>
</div>
