<div class='container col-xs-12' id='new-restaurant-container'>

<%= form_for(@restaurant, html: { class: 'form-horizontal col-sm-offset-2 col-sm-8 new-form' }) do |f| %>
  <div class='search-instructions col-sm-offset-2 col-sm-8'>
    <h1> Add a favorite! </h1>
    <p> Enter the restaurant name and the city to add it to your list.
      Make sure it's the full name of the restaurant and it's spelled correctly. </p>
      <hr
  </div>
  <div class='field form-group'>
    <%= f.label :name, 'Restaurant-name', class: 'sr-only' %>
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.text_field :name, placeholder: 'Restaurant Name', class: 'form-control' %>
      </div>
  </div>
  <div class='field form-group'>
    <%= f.label :address, 'City', class: 'sr-only' %>
      <div class='col-sm-offset-2 col-sm-8'>
        <%= f.text_field :address, placeholder: 'City', class: 'form-control' %>
      </div>
  </div>
  <div class='actions form-group'>
    <div class='col-sm-offset-2 col-sm-10'>
      <%= f.submit 'Add Restaurant', class: 'btn btn-default' %>
      <%= link_to 'Back', restaurants_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

</div>
